# Arquivos de estado do Terraform (SENSÍVEIS)
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json

# Pasta de binários e provedores
.terraform/

# Arquivos de log e temporários
.terraform.lock.hcl
*.log
crash.log
